@media(min-width:1200px) {
    .container {
        max-width: 1126px;
    }

}

@media(max-width:1600px) { }

@media(max-width:1400px) {
    .mobile-menu {
        top: 55px;
        right: 0;
        left: auto;
        transform: translate(0, 0);
    }
}
@media(max-width:1000px) { }

@media(max-width:1199px) {
    .reviewCard {
        padding: 10px;
        min-width: 150px;
    }
}

@media(max-width:991px) {
    .reviewList li {
        padding: 5px;
    }
    .reviewCard h3 {
        font-size: 16px;
    }
    .reviewCard p {
        font-size: 16px;
    }
    .reviewscore h4 {
        font-size: 20px;
    }
    .reviewscore {
        margin: 0 10px 0 0px;
        max-width: 205px;
    }
    .reviewscore-main .reviewList li {
        padding: 5px 5px;
    }
}

@media(max-width:767px) {

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
      
    table thead {
        display: none;
    }
      
    table tbody,
    table tr,
    table th,
    table td {
        display: block;
        width: 100%;
    }
      
    table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }
      
    table td::before {
        content: attr(data-label);
        position: relative;
        left: 0;
        width: 45%;
        padding-right: 1rem;
        white-space: nowrap;
        font-weight: bold;
    }
  
    .btn-default {
        margin: 10px 0;
        width: 100%;
    }

    .btn-default:first-child {
        order: 2;
    }

    .container,
    .container-sm {
        max-width: 100%;
    }
    .topHeader {
        padding: 15px 0;
        align-items: center;
    }
    .brand-name img {
        max-width: initial;
        height: 41px;
    }
    .topHeader .leftLink span {
        display: none;
    }
    .topHeader .leftLink img {
        /* border: 6px solid #d9c3d4; */
        width: 55px;
        height: auto;
        max-height: 55px;
    }
    .toggleMenu span {
        background-color: #000;
        border-radius: 40px;
        width: 48px;
        height: 6px;
        margin: 0 0 5px 0;
    }
    .toggleMenu span:last-child {
        margin: 0;
    }
    .navMenu {
        margin-bottom: 0px;
        padding-top: 60px;
    }
    .tab.navMenu {
        display: flex;
    }
    .navMenu li {
        margin: 0 10px;
    }
    .navMenu li a {
        padding-bottom: 5px;
        font-size: 14px;
        line-height: 16px;
    }
    .main {
        padding: 30px 0;
    }
    .brandLogo {
        margin-bottom: 30px;
        display: block;
    }
    .socailLink {
        justify-content: center;
        margin: 30px 0 0 0;
    }
    .copyright p {
        margin: 0;
    }
    .copyright {
        padding: 20px 0;
    }
    .content {
        font-size: 8px;
        line-height: 10px;
    }
    .reviewList li {
        width: 33.3%;
    }
    .reviewscore-main {
        flex-direction: column;
        margin: 0 0 30px 0;
    }
    .reviewscore {
        margin-bottom: 30px;
        margin-left: 0;
        width: 100%;
    }
    .login-box {
        max-width: 100%;
        width: 94%;
        margin: 0 auto;
        padding: 35px 15px;
    }
    .login-box .text-box p {
        font-size: 14px;
    }
    .page-heading {
        margin-bottom: 20px;
        text-align: center;
    }
    header .brand-name {
        top: 25px;
    }
    .chevron {
        display: block;
    }
    .td-hidden {
        display: none;
    }
    .table tr:focus-within td.td-hidden {
        display: block;
    }
}

@media(max-width:575px) {
    .navMenu {
        display: none;
    }
    .tab.navMenu {
        display: flex;
    }
    .reviewList li {
        width: 50%;
    }
    .reviewCard {
        padding: 8px;
        min-width: 100%;
    }
    .reviewCard h3 {
        font-size: 15px;
    }
    .reviewCard p {
        font-size: 14px;
        margin: 5px 0 0 0;
    }
    .mobile-nav {
        display: block;
    }
    .mobile-menu {
        top: 62px;
        right: -11px;
        left: auto;
        transform: translate(0, 0);
    }
    .mobile-menu {
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0,0,0,0.6);
    }
    .form-check.check-left .form-check-label a {
        display: block;
        margin: 2px 0 0 0;
    }
    header .brand-name {
        top: unset;
    }
}

@media(max-width:374px) {
    .content span {
        display: none;
    }
}