        @media(min-width:1200px) {
            .container {
                max-width: 1126px;
            }
        }
        
        @media(max-width:1600px) {
            .profile-review-sec {
                padding: 50px 0;
            }
        }
        
        @media(max-width:1400px) {
            .mobile-menu {
                top: 55px;
                right: 0;
                left: auto;
                transform: translate(0, 0);
            }
        }
        @media(max-width:1000px) {        
        .proftags{
          display: none;
          }
        }
        
        @media(max-width:1199px) {
            .user-detail .text-box p {
                font-size: 14px;
                line-height: 20px;
            }
            .user-detail {
                padding: 0 30px;
            }
            .user-detail .text-top .media2 h4 {
                font-size: 22px;
            }
            .reviewCard {
                padding: 10px;
                min-width: 150px;
            }
            .generate-side-left {
                padding-right: 30px;
            }
            .generate-side-right {
                padding: 10px 10px;
            }
            .generate-side-right .text-box h4 {
                font-size: 18px;
                margin-bottom: 2px;
            }
            .generate-side-right .text-box p {
                font-size: 12px;
            }
            .generate-side-right .text-box h3 {
                font-size: 22px;
                margin: 5px 0 5px 0;
            }
        }
        
        @media(max-width:991px) {
            .profile-card {
                border-radius: 25px;
                padding: 20px;
            }
            .profile-card-left .image-holder {
                max-width: 120px;
                height: 120px;
                margin: 0 auto 5px;
            }
            .profile-card-left .text-box h3 {
                font-size: 24px;
                line-height: 40px;
            }
            .profile-card-right {
                max-width: calc(100% - 140px);
            }
            .user-detail {
                padding: 0 15px;
            }
            .user-detail .text-top .media2 h4 {
                font-size: 18px;
            }
            .user-detail .text-top .media2 p {
                font-size: 14px;
                margin-left: 10px;
            }
            .user-detail .text-top .media2 p img {
                margin-right: 5px;
            }
            .user-detail .text-box p {
                font-size: 13px;
                line-height: 18px;
                margin: 10px 0 0;
            }
            .user-detail .text-box {
                margin: 10px 0 0 0;
            }
            .social-media {
                margin-top: 10px;
            }
            .review-btn {
                height: 40px;
                max-width: 180px;
                font-size: 18px;
            }
            .brand-box {
                padding: 12px;
                width: 170px;
                margin: 15px 0 0 0;
            }
            .profile-card.active .profile-card-left .text-box {
                margin-left: 5px;
            }
            .profile-card.active .profile-card-left .text-box .review-btn1 {
                width: 150px;
                font-size: 16px;
                margin-top: 15px;
            }
            .profile-card.active .profile-card-right {
                max-width: calc(100% - 275px);
            }
            .user-detail .text-top .media2 p {
                font-size: 12px;
            }
            .reviewList li {
                padding: 5px;
            }
            .reviewCard h3 {
                font-size: 16px;
            }
            .reviewCard p {
                font-size: 16px;
            }
            .article-header {
                padding: 15px;
                margin: 20px 0;
            }
            .reviewscore h4 {
                font-size: 20px;
            }
            .reviewscore {
                margin: 0 10px 0 0px;
                max-width: 205px;
            }
            .reviewscore-main .reviewList li {
                padding: 5px 5px;
            }
            .achievements-side {
                max-width: 205px;
                margin-right: 10px;
            }
            .generate-side-left ul li {
                font-size: 14px;
                margin: 0 0 5px 0;
            }
            .generate-side-left ul li span {
                padding: 0 0 0 20px;
            }
            .generate-side-left {
                padding-right: 0;
                max-width: 100%;
                margin-bottom: 15px;
            }
            .generate-side {
                flex-direction: column;
            }
            .generate-side-right {
                padding: 10px 10px;
                max-width: 100%;
                display: block;
            }

            .achievements-side ul li {
                flex: none;
                margin-right: 18px;
            }
            .achievements-side ul {
                overflow-x: auto;
                flex-wrap: nowrap;
            }
        }

        @media(max-width:767px) {
            .container,
            .container-sm {
                max-width: 100%;
            }
            .topHeader {
                padding: 15px 0;
                align-items: center;
            }
            .brand-name img {
                max-width: initial;
                height: 41px;
            }
            .topHeader .leftLink span {
                display: none;
            }
            .topHeader .leftLink img {
                /* border: 6px solid #d9c3d4; */
                width: 55px;
                height: auto;
                max-height: 55px;
            }
            .toggleMenu {
                width: auto;
                background-color: transparent;
                border-radius: 0;
                align-items: center;
                flex-direction: column;
            }
            .toggleMenu span {
                background-color: #000;
                border-radius: 40px;
                width: 48px;
                height: 6px;
                margin: 0 0 5px 0;
            }
            .toggleMenu span:last-child {
                margin: 0;
            }
            .navMenu {
                margin-bottom: 0px;
                padding-top: 15px;
            }
            .navMenu li {
                margin: 0 10px;
            }
            .navMenu li a {
                padding-bottom: 5px;
                font-size: 14px;
                line-height: 16px;
            }
            .main {
                padding: 30px 0;
            }
            .brandLogo {
                margin-bottom: 30px;
                display: block;
            }
            .socailLink {
                justify-content: center;
                margin: 30px 0 0 0;
            }
            .copyright p {
                margin: 0;
            }
            .copyright {
                padding: 20px 0;
            }
            .personal-statement .form-group {
                margin: 0 0 30px 0;
            }
            .profile-attachment ul li p {
                margin: 15px 0 0 0;
            }
            .profile-brand-inner {
                display: none;
            }
            .profile-card {
                flex-direction: column;
                align-items: flex-start;
                position: relative;
            }
            .profile-card-left {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .profile-card-left .image-holder {
                max-width: 150px;
                margin: 0;
            }
            .profile-card-left .image-holder {
                max-width: 110px;
                height: 110px;
                margin: 0 20px 0 0px;
            }
            .profile-card-left .text-box h3 {
                font-size: 34px;
                line-height: 40px;
            }
            .profile-brand-top {
                display: flex;
                margin: 0;
                justify-content: flex-end;
                position: absolute;
                top: 15px;
                right: 15px;
            }
            .profile-card-right {
                min-width: 100%;
            }
            .user-detail {
                padding: 15px 0 0 0;
            }
            .profile-card.active .user-detail {
                padding: 24px 0 0 0;
            }
            .profile-card.active .profile-card-left .text-box .review-btn1 {
                display: flex;
                width: 170px;
                position: absolute;
                bottom: -65px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .user-detail .text-box p {
                max-width: 100%;
                font-size: 14px;
                line-height: 22px;
            }
            .profile-card.active {
                max-height: 400px;
            }
            .profile-card.active .profile-card-right {
                max-width: 100%;
                width: 100%;
            }
            .profile-card.active .profile-card-right .user-detail .review-btn2 {
                display: flex;
            }
            .profile-card.active .profile-card-left .text-box {
                margin-left: 0;
                position: relative;
            }
            .switch input+label {
                min-width: 50px;
                height: 25px;
            }
            .switch input+label::after {
                left: 5px;
                width: 20px;
            }
            .switch input:checked+label::after {
                margin-left: 20px;
            }
            .collapse-btn {
                margin: 0px 0 0 5px;
            }
            .content {
                font-size: 8px;
                line-height: 10px;
            }
            .article-header h4 {
                margin: 0 0 10px 0;
                font-size: 16px;
                text-align: center;
            }
            .article-header .list-unstyled {
                justify-content: center;
                margin: 0 -5px;
            }
            .article-header .list-unstyled .dropdown {
                width: 50%;
            }
            .article-header .btnsecondary {
                min-width: 100%;
            }
            .article-header {
                padding: 11px 15px;
                border-radius: 15px;
            }
            .reviewList li {
                width: 33.3%;
            }
            .review-rate {
                flex-direction: column;
                align-items: flex-start;
            }
            .review-rate-right {
                margin-left: 0;
                margin-top: 15px;
            }
            .review-btn {
                height: 40px;
                max-width: 100%;
                font-size: 16px;
            }
            .reviewscore-main {
                flex-direction: column;
                margin: 0 0 30px 0;
            }
            .reviewscore {
                margin-bottom: 30px;
                margin-left: 0;
                width: 100%;
            }
            .achievements-generate {
                margin-bottom: 30px;
                flex-direction: column;
            }
            .achievements-side {
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }
            .profile-card-left .text-box {
                text-align: left;
                width: 100%;
                max-width: 140px;
            }
            .profile-card-left .text-box h3 {
                font-size: 18px;
                line-height: 1;
                text-align: left;
            }
            .profile-card-left .text-box p {
                font-size: 10px;
                margin: 5px 0 8px 0;
                text-align: left;
            }
            .profile-card-left .media2 {
                display: flex;
                align-items: center;
                position: relative;
            }
            .profile-card-left .media2 h5 {
                font-family: 'Recoleta';
                font-weight: 600;
                font-size: 20px;
                line-height: 22px;
                color: #3b3b3b;
            }
            .profile-card-left .media2 p {
                margin: 0;
                position: absolute;
                right: -15px;
                top: 50%;
                transform: translate(0, -50%);
            }
            .profile-card-left .media2 p img {
                height: 24px;
                margin-left: 10px;
            }
            .profile-card-left .text-box span {
                color: #333333;
                font-size: 16px;
                font-family: 'Recoleta';
                font-weight: 500;
                line-height: 1;
                display: block;
                margin: 4px 0 9px 0;
            }
            .profile-card-left .text-box ul {
                justify-content: flex-start;
                margin: 8px 0 7px;
            }
            .profile-card-left .text-box h4 {
                font-size: 11px;
                line-height: 1;
                text-align: center;
                max-width: 135px;
                margin-left:-12px ;
            }
            .user-detail .text-box {
                margin: 0 0 13px 0;
            }
            .user-detail .text-top a {
                font-size: 13px;
                max-width: 129px;
                height: 26px;
                line-height: 1;
            }
            .dark-mood .social-media {
                border-top: 1px solid #fff;
            }
            .social-media {
                border-top: 1px solid #3b3b3b;
                padding: 15px 0 0 0;
                margin: 15px 0 0 0;
                padding-left: 0;
            }
            .social-media ul {
                justify-content: space-between;
                margin-bottom: 14px;
            }
            .social-media ul li a img {
                height: 22px;
            }
            .review-btn {
                margin: 0 auto;
            }
            .profile-card.active .user-detail .text-top {
                display: none !important;
            }
            .profile-card.active .social-media {
                top: 0;
            }
            .profile-card.active .profile-card-right .user-detail .review-btn2 {
                display: none;
            }
            .review-btn3 {
                display: none !important;
            }
            .profile-card.active .review-btn3 {
                display: flex !important;
            }
            .user-detail .text-box a {
                font-size: 14px;
            }
            .login-box {
                max-width: 100%;
                width: 94%;
                margin: 0 auto;
                padding: 35px 15px;
            }
            .login-box .text-box p {
                font-size: 14px;
            }
            .user-detail .text-box h4 {
                font-size: 18px;
                line-height: 18px;
            }
            .profile-card.active .profile-card-left {
                padding: 0 0 50px 0;
            }
            .profile-card-left {
                padding: 0;
            }
            .btncustom {
                width:100%;
                margin-bottom:4px;
                }    
        }
        
        @media(max-width:575px) {
            .media .media-body i {
                width: 45px;
                height: 45px;
            }
            .media .media-body span {
                font-size: 16px;
                line-height: 16px;
            }
            .media .cta {
                font-size: 16px;
                height: 35px;
                padding: 11.5px 10px 9px;
                min-width: 100px;
                border: 2px solid #000;
            }
            .navMenu {
                display: none;
            }
            .profile-public p {
                flex-direction: column;
                align-items: flex-start;
                font-size: 12px;
            }
            .profile-public p span {
                display: flex;
                align-items: center;
            }
            .personal-statement .form-group .form-control {
                font-size: 12px;
            }
            .profile-card {
                border-radius: 25px;
                padding: 20px 20px 20px;
            }
            .profile-card-left .image-holder {
                max-width: 90px;
                height: 90px;
            }
            .profile-review-sec {
                padding: 30px 0;
            }
            .user-detail .text-box p {
                font-size: 14px;
                line-height: 18px;
            }
            .profile-card.active {
                max-height: 440px;
            }
            .reviewArticle-replied {
                align-items: flex-start;
                flex-direction: column;
                margin: 0;
            }
            .reviewArticle-replied p {
                margin-bottom: 12px;
            }
            .review-filter {
                width: 100%;
            }
            .review-filter .btnsecondary {
                min-width: 100%;
            }
            .article-media {
                padding: 20px 0;
            }
            .reviewArticle-replied {
                margin-bottom: 20px;
            }
            .articleContent p {
                margin-bottom: 15px;
                font-size: 14px;
            }
            .reviewHeader {
                margin-bottom: 15px;
            }
            .customer-reply .text-box p {
                font-size: 12px;
            }
            .reviewList li {
                width: 50%;
            }
            .reviewCard {
                padding: 8px;
                min-width: 100%;
            }
            .reviewCard h3 {
                font-size: 15px;
            }
            .reviewCard p {
                font-size: 14px;
                margin: 5px 0 0 0;
            }
            .review-form form .form-control {
                font-size: 12px;
            }
            .review-form form textarea.form-control {
                height: 130px;
            }
            .review-time .text-box {
                margin-bottom: 20px;
            }
            .review-time .media2 {
                flex-direction: column;
                margin-bottom: 30px;
            }
            .generate-side-right .image-holder img {
                height: 110px;
            }
            .mobile-nav {
                display: block;
            }
            .mobile-menu {
                top: 62px;
                right: -11px;
                left: auto;
                transform: translate(0, 0);
            }
            .mobile-menu {
                width: 300px;
            }
            .form-check.check-left .form-check-label a {
                display: block;
                margin: 2px 0 0 0;
            }
        }
        
        @media(max-width:374px) {
            .media .media-body {
                padding-right: 10px;
            }
            .media .cta {
                font-size: 14px;
                height: 35px;
                padding: 10px 5px 9px;
                min-width: 90px;
                border: 2px solid #000;
            }
            .media .media-body span {
                font-size: 14px;
            }
            .profile-public p {
                font-size: 10px;
            }
            .reviewHeader .rating li span {
                width: 18px;
                height: 18px;
            }
            .reviewHeader .rating li {
                display: flex;
                align-items: center;
            }
            .reviewHeader .verified .badgeText {
                margin-left: 5px;
            }
            .user-detail .text-box p {
                font-size: 12px;
            }
            .form-icon {
                width: 40px;
            }
            .form-icon img {
                height: 20px;
            }
            .review-form form .relative .form-control {
                font-size: 12px;
                padding-right: 60px;
            }
            .generate-side-right {
                flex-direction: column;
            }
            .generate-side-right .text-box {
                width: 100%;
                margin-bottom: 20px;
            }
            .profile-card-left .image-holder {
                max-width: 85px;
                margin: 0 15px 0 0px;
            }
            .profile-card-left .text-box ul li span {
                width: 21px;
                height: 21px;
                margin-bottom: 0;
            }
            .profile-card-left .text-box span {
                font-size: 13px;
            }
            .profile-card-left .text-box h3 {
                font-size: 16px;
            }
            .profile-card-left .media2 h5 {
                font-size: 18px;
                line-height: 20px;
            }
            .profile-card-left .text-box {
                max-width: 120px;
            }
            .profile-card-left .media2 p {
                right: -20px;
            }
            .switch input+label {
                min-width: 35px;
                height: 20px;
            }
            .switch input+label::after {
                left: 3px;
                width: 15px;
                height: 15px;
            }
            .content span {
                display: none;
            }
            .switch input:checked+label::after {
                margin-left: 14px;
            }
            .collapse-btn img {
                height: 18px;
            }
            .reviewArticle {
                padding: 20px;
            }
        }