@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #fff;
    font-size: 14px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.pagefader{
    animation: fade-in 0.7s ease-in-out;
}

a.active,
a:focus,
button:focus,
button.active {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    box-shadow: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

th {
    font-weight: normal;
}

.wrapper {
    overflow: hidden;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.brand-name {
    margin: 0;
    padding: 0;
}

.brand-name img {
    max-width: 195px;
}

.navRight {
    display: flex;
    position: relative;
}

.navRight {
    padding: 0;
    margin: 0;
}

.navRight li {
    list-style: none;
}

.navRight li a {
    color: #3b3b3b !important;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.navRight li:after {
    content: '';
    width: 2px;
    height: 13px;
    background: #000;
    display: inline-block;
    margin: 0 10px;
}

.navRight li:last-child:after {
    content: none;
}

header {
    border-bottom: 2px solid #f5f5f5;
    position: relative;
}

.topHeader .leftLink {
    display: inline-flex;
    align-items: center;
    max-width: 50px;
    height: auto;
    border: 3px solid #d9c3d4;
    border-radius: 60%;
    padding: 5px;
    min-height: 50px;
}

.topHeader .leftLink span {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
    color: #3b3b3b;
    margin-left: 13px;
    font-family: 'Recoleta';
    font-weight: bold;
}

.topHeader .leftLink img {
    width: 100%;
    object-fit: cover;
    z-index: -999;
}

.toggleMenu {
    background: #000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggleMenu img {
    width: 17px;
    height: 11px;
}

header .brand-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 70px;
    list-style: none;
}

.navMenu li a {
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 14px;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

.navMenu li {
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}

.navMenu li:hover,
.navMenu li a.active {
    border-bottom: 3px solid #19232c;
    cursor: pointer;
}


footer {
    background-color: #343434;
}

.footer {
    padding: 50px 0;
}

.brandLogo img {
    filter: invert(1);
    max-width: 100%;
}

footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Recoleta';
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

footer ul li a:hover {
    color: #fff;
}

footer ul li {
    letter-spacing: 0.23px;
    margin-bottom: 6px;
}

.socailLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socailLink li a {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
}

.socailLink li svg {
    color: #54595f;
    height: 15px;
}

.copyright {
    padding: 30px 0;
    background-color: #54595f;
    width: 100%;
    text-align: center;
    letter-spacing: 0.23px;
    font-family: 'Roboto', sans-serif;
}

.copyright p {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}

/* Profile Page */

.contentContainer {
    padding: 30px 0;
}

.form-content .form-group {
    position: relative;
    margin: 0px;
}

.form-content .form-group label.label-text {
    margin: 0;
    color: #707070;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
}

.form-content .form-group .form-control {
    border: 1px solid #707070;
    border-radius: 12px;
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    width: 100%;
    background: transparent !important;
    box-shadow: none;
}

.filter__img {
    max-width: 25px;
    width: 100%;
    margin-right: 7px;
}

.form-content .row {
    margin: 0;
}

.form-content [class*="col-"] {
    padding: 10px 20px;
}

.form-content .form-group textarea.form-control {
    height: 157px;
    max-width: 100%;
    border-color: #707070;
    padding: 21px 65px 21px 18px;
}

.form-control-label {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
}


.reviewList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviewList li {
    padding: 10px;
}

.reviewCard {
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    min-width: 160px;
}

.reviewCard h3 {
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 24px;
}

.reviewCard p {
    margin: 0;
}

.reviewCard a {
    font-size: 12px;
    color: #000;
}

/***** TRUST REVIEW ******/

.reviewscore-main {
    display: flex;
    margin: 0 0 50px 0;
}

.reviewscore {
    margin: 0 18px 0 0px;
    max-width: 214px;
    width: 100%;
}

.reviewscore h4 {
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 26px;
}


.reviewscore-main .reviewCard {
    min-width: 145px;
}

.reviewscore-main .reviewList {
    flex: 1;
    margin: 0 -5px;
}

.reviewscore-main .reviewList li {
    padding: 10px 5px;
}

.reviewscore-main .reviewCard p {
    margin: 0;
    font-size: 16px;
}



.form-check {
    display: flex;
    min-height: auto;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

.form-check-label {
    color: #54595F;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0 10px;
}

.form-check-input {
    border: 1px solid #696a6a;
    width: 20px;
    height: 20px;
}

.form-check-input:focus {
    outline: 0;
    box-shadow: none;
}

.form-check .form-check-input {
    margin: 0;
    float: none;
}

/***** MOBILE NAV ****/

.mobile-menu {
    padding: 0px 0px 10px 44px;
    width: 336px;
    z-index: 1111;
    position: absolute;
    top: 55px;
    right: 0;
    left: 50%;
    display: none;
    transform: translate(-50%, 0);
}

.mobile-menu.active {
    display: block;
}

.mobile-nav {
    margin: 0 0 80px 0;
    display: none;
    background-color: #FAFAFA;
    padding: 20px;
}

.mobile-nav ul li a {
    font-size: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #3b3b3b !important;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.mobile-nav ul li:last-child a {
    border-bottom: 0px solid #707070;
}

.mobile-nav ul li::after {
    display: none;
}


/***** LOGIN ******/

.login-sec {
    background: url(../images/login-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login-sec::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .60);
}

.login-box {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 30px;
    max-width: 611px;
    width: 100%;
    padding: 32px 0 46px;
}

.login-box .text-box {
    text-align: center;
    margin: 0 0 22px 0;
}

.login-box .text-box img {
    height: 42px;
}

.login-box .text-box p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3b3b3b;
    margin-top: 20px;
    font-size: 16px;
}

.login-box form {
    max-width: 407px;
    width: 100%;
    margin: 0 auto;
}

.login-box form .form-group {
    margin-bottom: 11px;
}

.login-box form .form-group .form-control {
    font-family: 'Roboto', sans-serif;
    color: #3b3b3b;
    font-weight: 300;
    height: 39px;
    padding-left: 10px;
    border-radius: 11px;
    border: 1px solid #707070;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.forgot-btn {
    font-family: 'Roboto', sans-serif;
    color: #3b3b3b;
    font-size: 300;
    font-size: 12px;
    display: block;
    text-align: right;
}

.btn-default {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    height: 39px;
    border-radius: 20px;
    border: 2px solid transparent;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-footer {
    margin: 10px 10px;
    float: right;
    gap: 10px;
    border-top: 0.5px;
}

.btn-default:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.btn-default.btn-secondary {
    background: #e6e6e6;
    color: #000;
}

.btn-default.btn-secondary:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.form-check.check-left {
    justify-content: flex-start;
}

.form-check.check-left .form-check-label {
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.form-check.check-left .form-check-label a {
    color: #3b3b3b;
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
}

.form-check.check-left .form-check-label a:hover {
    text-decoration: underline;
}

.form-check.check-left .form-check-input {
    border-radius: 5px;
}

.first-init-reply .list-group-item {
    position: relative;
    padding-left: 40px;
}
.first-init-reply .list-group-item svg {
  position: absolute;
  left: 10px;
  top: 10px;
}

.form-control {
    font-size: smaller;
    font-weight: 300;
    color: #3b3b3b;
}

.table-black {
    background-color: #000 !important;
    color: #f1f1e9;
}

.table td {
    position: relative;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    text-align: center;
}

.modal-content .close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.page-heading-button  {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.comment-box {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
}

.comment-box:last-child {
    border-bottom: 0px;
}

.comment-details {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.comment-details {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.comment-message {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    width: 100%;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 0 5px;
}

.pagination-btn {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
}
.pagination-btn.active {
    background-color: #000;
    color: #fff;
}

.pagination-btn:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.chevron {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 0px;
    display: none;
}

.form-control::placeholder { /* Most modern browsers support this */
    font-weight: 300;
    color: #888;
    opacity: 1; /* Firefox requires this to change color */
}

.task-comments {
    order: 1;
    border-top: 1px solid #dee2e6;
}
.task-stats {
    order: 2;
}
.label {
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
}
.task-description {
    max-height: 300px;
    overflow-y: auto;
}
