@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #fff;
    font-size: 14px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.pagefader{
    animation: fade-in 0.7s ease-in-out;
}

a.active,
a:focus,
button:focus,
button.active {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    box-shadow: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.brand-name {
    margin: 0;
    padding: 0;
}

.brand-name img {
    max-width: 195px;
}

.navRight {
    display: flex;
    position: relative;
}

.navRight {
    padding: 0;
    margin: 0;
}

.navRight li {
    list-style: none;
}

.navRight li a {
    color: #3b3b3b !important;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.navRight li:after {
    content: '';
    width: 2px;
    height: 13px;
    background: #000;
    display: inline-block;
    margin: 0 10px;
}

.navRight li:last-child:after {
    content: none;
}

header {
    border-bottom: 2px solid #f5f5f5;
    position: relative;
}

.topHeader .leftLink {
    display: inline-flex;
    align-items: center;
    max-width: 50px;
    height: auto;
    border: 3px solid #d9c3d4;
    border-radius: 60%;
    padding: 5px;
    min-height: 50px;
}

.topHeader .leftLink span {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
    color: #3b3b3b;
    margin-left: 13px;
    font-family: 'Recoleta';
    font-weight: bold;
}

.topHeader .leftLink img {
    width: 100%;
    object-fit: cover;
    z-index: -999;
}

.toggleMenu {
    background: #54595f;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggleMenu img {
    width: 17px;
    height: 11px;
}

header .brand-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 25px;
    list-style: none;
}

.navMenu li a {
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 14px;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

.navMenu li {
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}

.navMenu li:hover,
.navMenu li a.active {
    border-bottom: 3px solid #19232c;
    cursor: pointer;
}


footer {
    background-color: #343434;
}

.footer {
    padding: 50px 0;
}

.brandLogo img {
    filter: invert(1);
    max-width: 100%;
}

footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Recoleta';
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

footer ul li a:hover {
    color: #fff;
}

footer ul li {
    letter-spacing: 0.23px;
    margin-bottom: 6px;
}

.socailLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socailLink li a {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
}

.socailLink li svg {
    color: #54595f;
    height: 15px;
}

.copyright {
    padding: 30px 0;
    background-color: #54595f;
    width: 100%;
    text-align: center;
    letter-spacing: 0.23px;
    font-family: 'Roboto', sans-serif;
}

.copyright p {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}

/* Profile Page */

.contentContainer {
    padding: 30px 0;
}

.form-content .form-group {
    position: relative;
    margin: 0px;
}

.form-content .form-group label.label-text {
    margin: 0;
    color: #707070;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
}

.form-content .form-group .form-control {
    border: 1px solid #707070;
    border-radius: 12px;
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    width: 100%;
    background: transparent !important;
    box-shadow: none;
}

.filter__img {
    max-width: 25px;
    width: 100%;
    margin-right: 7px;
}

.form-content .row {
    margin: 0;
}

.form-content [class*="col-"] {
    padding: 10px 20px;
}

.form-content .form-group textarea.form-control {
    height: 157px;
    max-width: 100%;
    border-color: #707070;
    padding: 21px 65px 21px 18px;
}

.form-control-label {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
}


.reviewList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviewList li {
    padding: 10px;
}

.reviewCard {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;
    min-width: 160px;
}

.reviewCard h3 {
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 24px;
}

.reviewCard p {
    margin: 0;
    font-size: 18px;
}


/***** TRUST REVIEW ******/

.reviewscore-main {
    display: flex;
    margin: 0 0 50px 0;
}

.reviewscore {
    margin: 0 18px 0 0px;
    max-width: 214px;
    width: 100%;
}

.reviewscore h4 {
    font-family: 'Recoleta';
    font-weight: 600;
    font-size: 26px;
}


.reviewscore-main .reviewCard {
    min-width: 145px;
}

.reviewscore-main .reviewList {
    flex: 1;
    margin: 0 -5px;
}

.reviewscore-main .reviewList li {
    padding: 10px 5px;
}

.reviewscore-main .reviewCard p {
    margin: 0;
    font-size: 16px;
}



/***** REVIEW TIME ******/

.review-time .media2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.review-time .text-box h4 {
    font-family: 'Recoleta';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.review-time .text-box h4 img {
    transform: rotate(-90deg);
    margin-left: 10px;
}

.review-time .text-box p {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
}

.review-filter .btnsecondary {
    min-width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Recoleta';
    background: #e6e6e6;
    box-shadow: none;
    border-radius: 10px;
}

.review-filter .btnsecondary i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-filter .btnsecondary i svg {
    width: 12px;
    height: auto;
}

.review-filter .dropdown-menu {
    border: 1px solid #e6e6e6;
    padding: 0;
    min-width: 100%;
}

.review-filter .dropdown-menu a {
    padding: 10px 14px;
    margin: 0;
    font-size: 16px;
    color: #333333;
    text-transform: capitalize;
    display: block;
}


/***** HEADER SECOND ******/

.header-second .topHeader .logo img {
    height: 40px;
}

.header-second .topHeader .navRight ul {
    display: flex;
    align-items: center;
}

.profile-review-sec {
    padding: 50px 0;
}

.profile-card {
    background: #f5f5f5;
    border-radius: 40px;
    padding: 30px 30px 45px 27px;
    display: flex;
    margin: 0 0 30px 0;
    max-height: inherit;
}

.profile-card.active {
    max-height: 290px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.profile-card.active .profile-brand-inner {
    display: none;
}

.profile-card.active .user-detail .text-box {
    display: none;
}

.profile-card.active .profile-card-left {
    display: flex;
    align-items: center;
}

.profile-card.active .profile-card-left .text-box {
    margin-left: 20px;
}

.profile-card.active .profile-card-left .text-box .review-btn1 {
    display: flex;
    width: 160px;
    font-size: 16px;
    height: 40px;
    margin-top: 28px;
}

.profile-card.active .profile-card-right {
    max-width: calc(100% - 380px);
    flex: 1;
}

.profile-card.active .profile-card-right .user-detail .review-btn2 {
    display: none;
}

.profile-card-left .image-holder {
    border-radius: 50%;
    border: 6px solid #fff;
    padding: 3px;
    max-width: 135px;
    width: 100%;
    max-height: 135px;
    height:100%;
    margin: 0 auto 10px;
}

.profile-card-left .image-holder img {
    margin-bottom: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    background-color: gainsboro;
}

.profile-card-left .text-box {
    text-align: center;
}

.profile-card-left .text-box h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Recoleta';
    line-height: 1;
    color: #3b3b3b;
}

.profile-card-left .text-box p {
    font-family: 'Recoleta';
    font-size: 12px;
    line-height: 1;
    color: #3b3b3b;
    margin: 5px 0 0 0;
    font-weight: 500;
}

.profile-card-left .text-box ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px 0 13px;
}

.profile-card-left .text-box ul li {
    margin-right: 3px;
}

.profile-card-left .text-box ul li span {
    background-color: #00b67b;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
}

.profile-card-left .text-box ul li:last-child span {
    background-color: #dcdce6;
}

.profile-card-left .text-box h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #3b3b3b;
    margin-bottom: 0;
    font-weight: 500;
}


/**** USER DETAIL *****/

.profile-card.active .social-media {
    position: relative;
    top: 31px;
    padding-left: 10px;
}

.profile-card.active .user-detail {
    padding: 0 15px;
}

.profile-card.active .user-detail .text-top span {
    display: block;
    margin: 7px 0 12px;
}

.profile-card-right {
    display: flex;
    max-width: calc(100% - 180px);
    flex: 1;
}

.user-detail {
    flex: 1;
    padding: 0 50px;
}

.user-detail .text-top .media2 {
    display: flex;
    align-items: center;
}

.user-detail .text-top .media2 h4 {
    font-size: 28px;
    font-family: 'Recoleta';
    line-height: 1;
    font-weight: 600;
}

.user-detail .text-top .media2 p {
    color: #333333;
    font-size: 20px;
    line-height: 1;
    font-family: 'Recoleta';
    font-weight: 500;
    margin-left: 12px;
}

.user-detail .text-top .media2 p img {
    margin-right: 10px;
    height: 28px;
}

.user-detail .text-top span {
    color: #333333;
    font-size: 18px;
    font-family: 'Recoleta';
    font-weight: 500;
    line-height: 1;
    display: block;
    margin: 5px 0 20px 0;
}

.user-detail .text-top a {
    color: #fff;
    background-color: #1a1414;
    font-family: 'Recoleta';
    font-weight: 500;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    min-width: 114px;
    height: 32px;
    margin-right: 5px;
}

.user-detail .text-box {
    margin: 25px 0 0 0;
}

.user-detail .text-box h4 {
    font-family: 'Recoleta';
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #3b3b3b;
}

.user-detail .text-box p {
    color: #333333;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 15px 0 0;
    max-width: 430px;
}

.user-detail .text-box a {
    font-weight: bold;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.social-media {
    margin-top: 20px;
}

.social-media ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-media ul li {
    margin-right: 15px;
}

.social-media ul li a img {
    height: 32px;
}

.review-btn {
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #3a71cc;
    border-radius: 20px;
    height: 42px;
    max-width: 210px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-btn:hover {
    color: #fff;
}

.review-btn1 {
    margin-top: 15px;
    display: none;
}


/**** PROFILE BRAND ******/

.profile-brand-top {
    display: flex;
    margin: 0 0 30px 0;
    justify-content: flex-end;
}

.switch-btn {
    display: inline-block;
}

.switch {
    font-size: 1rem;
    position: relative;
}

.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}

.switch input+label {
    position: relative;
    min-width: 75px;
    border-radius: 20px;
    height: 28px;
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}

.switch input+label::before,
.switch input+label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
}

.switch input+label::before {
    right: 0;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s all;
}

.switch input+label::after {
    top: 50%;
    transform: translate(0, -50%);
    left: 8px;
    width: 30px;
    height: 18px;
    border-radius: 30px;
    background-color: #000;
    transition: 0.2s all;
}

.switch input:checked+label::before {
    background: #000;
}

.switch input:checked+label::after {
    margin-left: calc(2.375rem * .8);
    background-color: #fff;
}

.switch input:focus+label::before {
    outline: none;
    box-shadow: none;
}

.switch input:disabled+label {
    color: #868e96;
    cursor: not-allowed;
}

.switch input:disabled+label::before {
    background-color: #e9ecef;
}

.switch.switch-sm {
    font-size: 0.875rem;
}

.switch.switch-sm input+label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}

.switch.switch-sm input+label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}

.switch.switch-sm input+label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}

.switch.switch-sm input:checked+label::after {
    margin-left: calc(1.9375rem * .8);
}

.switch.switch-lg {
    font-size: 1.25rem;
}

.switch.switch-lg input+label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}

.switch.switch-lg input+label::before {
    width: calc(calc(3rem * .8) * 2);
}

.switch.switch-lg input+label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}

.switch.switch-lg input:checked+label::after {
    margin-left: calc(3rem * .8);
}

.switch+.switch {
    margin-left: 1rem;
}

.contentA {
    display: none;
}

.content {
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    margin: 5px 0 0 0;
}

.collapse-btn {
    margin: 1px 0 0 15px;
}

.collapse-btn img {
    height: 21px;
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
}

.profile-card.active .collapse-btn img {
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.profile-brand-inner h4 {
    font-family: 'Recoleta';
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}

.brand-box {
    background-color: #e6e6e6;
    padding: 10px 16px 23px 13px;
    margin: 15px 0 0 0;
    width: 200px;
    max-height: 152px; /* Added property */
    overflow-y: auto; /* Added property */
  }
  
  .brand-box h5 {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Recoleta';
    text-transform: capitalize;
    color: #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 4px;
    font-weight: bold;
  }
  
 .brand-box ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 0 0 10px; /* Updated padding-left to 10px */
}

  
  .brand-box ul li {
 flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 6px;
    max-width: 34px;
    max-height: 34px;
    margin-right: 14px;
}
  
  .brand-box ul li img {
    height: auto;
    background-color: #e6e6e6;
    border-radius: 6px;
  }
  
  /* Webkit based browsers (Chrome, Safari) */
.brand-box::-webkit-scrollbar {
    width: 6px; /* Adjust as needed */
  }
  
  .brand-box::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust as needed */
    border-radius: 3px;
  }
  
  .brand-box::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Adjust as needed */
  }
  
  /* Firefox */
  .brand-box {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; /* Adjust as needed */
  }
  
  .brand-box::-moz-scrollbar-thumb {
    background-color: #888; /* Adjust as needed */
    border-radius: 3px;
  }
  
  .brand-box::-moz-scrollbar-track {
    background-color: #f1f1f1; /* Adjust as needed */
  }
  

.share-like {
    padding-top: 15px;
}

.share-like ul {
    display: flex;
    align-items: center;
}

.share-like ul li {
    margin-right: 15px;
}

.share-like ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #54595F;
}

.share-like ul li a svg {
    margin-right: 10px;
    width: 16px;
}

.customer-reply {
    display: flex;
    background-color: #f1f1e9;
    border-left: 7px solid #000000;
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 20px;
}

.customer-reply span {
    max-width: 20px;
    width: 100%;
    display: block;
}

.customer-reply span svg {
    width: 18px;
    height: auto;
    display: block;
}

.customer-reply .text-box {
    flex: 1;
    padding-left: 10px;
}

.customer-reply .text-box h4 {
    font-size: 16px;
    font-family: 'Recoleta';
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
}

.customer-reply .text-box p {
    color: #54595F;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'roboto';
}

/***** REVIEW FORM *******/

.review-rate {
    display: flex;
    align-items: center;
}

.review-rate-left h4 {
    font-size: 20px;
    font-family: 'Recoleta';
    line-height: 1;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.review-rate-left ul {
    display: flex;
    align-items: center;
}

.review-rate-left ul li {
    margin-right: 3px;
}

.review-rate-left ul li span {
    background-color: #73cf11;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
}

.review-rate-left ul li:last-child span {
    background-color: #dcdce6;
}

.review-rate-right {
    margin-left: 40px;
}

.form-check {
    display: flex;
    min-height: auto;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

.form-check-label {
    color: #54595F;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0 10px;
}

.form-check-input {
    border: 1px solid #696a6a;
    width: 20px;
    height: 20px;
}

.form-check-input:focus {
    outline: 0;
    box-shadow: none;
}

.form-check .form-check-input {
    margin: 0;
    float: none;
}

.review-form {
    margin: 20px 0 0 0;
}

.review-form form .form-group {
    margin: 0 0 20px 0;
}

.review-form form label {
    display: block;
    margin: 0;
    font-size: 16px;
    font-family: 'Recoleta';
    line-height: 1;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #000;
}

.review-form form .relative {
    position: relative;
}

.review-form form .form-control {
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    box-shadow: none;
    height: 50px;
}

.review-form form .form-control::placeholder {
    color: #000;
}

.review-form form textarea.form-control {
    height: 200px;
}

.form-icon {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e4e4;
    width: 50px;
    border-left: 1px solid #a2a2a2;
    border-radius: 0 10px 10px 0;
}

.down-arrow img {
    transform: rotate(-90deg);
}


/***** MOBILE NAV ****/

.mobile-menu {
    padding: 9px 32px 10px 44px;
    border: 1px solid #707070;
    width: 336px;
    z-index: 1111;
    background: #fff;
    position: absolute;
    top: 55px;
    right: 0;
    left: 50%;
    display: none;
    transform: translate(-50%, 0);
}

.mobile-menu.active {
    display: block;
}

.mobile-nav {
    margin: 0 0 80px 0;
    display: none;
}

.mobile-nav ul li a {
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #3b3b3b !important;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.mobile-nav ul li::after {
    display: none;
}

.mobile-logout {
    margin-bottom: 0;
    display: block;
}

.mobile-logout ul li a {
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
}

.mobile-logout ul li a.setting h4 {
    display: flex;
    align-items: center;
    color: #909090 !important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.mobile-logout ul li a.setting h4 img {
    margin-right: 5px;
}

.mobile-logout ul li a.setting p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    text-transform: initial;
    color: #909090 !important;
    margin-top: 10px;
}

.mobile-logout ul li:last-child a {
    border-bottom: none;
}


/***** LOGIN ******/

.login-sec {
    background: url(../images/login-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login-sec::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .60);
}

.login-box {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 30px;
    max-width: 611px;
    width: 100%;
    padding: 32px 0 46px;
}

.login-box .text-box {
    text-align: center;
    margin: 0 0 22px 0;
}

.login-box .text-box img {
    height: 42px;
}

.login-box .text-box p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3b3b3b;
    margin-top: 20px;
    font-size: 16px;
}

.login-box form {
    max-width: 407px;
    width: 100%;
    margin: 0 auto;
}

.login-box form .form-group {
    margin-bottom: 11px;
}

.login-box form .form-group .form-control {
    font-family: 'Roboto', sans-serif;
    color: #3b3b3b;
    font-weight: 300;
    height: 39px;
    padding-left: 10px;
    border-radius: 11px;
    border: 1px solid #707070;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.forgot-btn {
    font-family: 'Roboto', sans-serif;
    color: #3b3b3b;
    font-size: 300;
    font-size: 12px;
    display: block;
    text-align: right;
}

.btn-default {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    height: 39px;
    border-radius: 20px;
    border: 2px solid transparent;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-footer {
    margin: 10px 10px;
    float: right;
    gap: 10px;
    border-top: 0.5px;
}

.btn-default:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.btn-default.btn-secondary {
    background: #e6e6e6;
    color: #000;
}

.btn-default.btn-secondary:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.sign-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #3b3b3b;
    text-transform: inherit;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 19px 0 0 0;
}

.sign-btn span {
    font-weight: bold;
}

.form-check.check-left {
    justify-content: flex-start;
}

.form-check.check-left .form-check-label {
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.form-check.check-left .form-check-label a {
    color: #3b3b3b;
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
}

.form-check.check-left .form-check-label a:hover {
    text-decoration: underline;
}

.form-check.check-left .form-check-input {
    border-radius: 5px;
}

.first-init-reply .list-group-item {
    position: relative;
    padding-left: 40px;
}
.first-init-reply .list-group-item svg {
  position: absolute;
  left: 10px;
  top: 10px;
}

.form-control {
    font-size: smaller;
    font-weight: 300;
    color: #3b3b3b;
}

.table-black {
    background-color: #000 !important;
    color: #f1f1e9;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    text-align: center;
}