<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members</title>
  <link rel="icon" type="image/x-icon" href="../../../images/favicon.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/responsive.css">
</head>

<body>
  <div class="wrapper">
    <!-- Header Start -->
    <header id="header"></header>
    <!-- Header End -->
    
    <section class="contentContainer p-0">
      <div class="container">
          
          <div class="row justify-content-start" style="margin-bottom: 60px; margin-top: 30px;">
              <div class="col-md-6 page-heading">
                <h4>Edit Member</h4>
                <p>Edit an existing admin or regular user.</p>
              </div>
          </div>
          <ul class="tab navMenu" id="editTabs">
            <li class="">
              <a class="active" id="rateTypeTabLink" href="#rateTypeContent" onclick="switchTab('rateTypeTabLink', 'rateTypeContent')">General Setting</a>
            </li>
            <li class="">
              <a class="" id="passwordTabLink" href="#passwordContent" onclick="switchTab('passwordTabLink', 'passwordContent')">Change Password</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="rateTypeContent">
              <form id="rateTypeForm" class="needs-validation" novalidate>
                  <div class="row form-content">
                      <div class="col-12 col-md-6">
                          <div class="form-group">
                              <label class="label-text" for="hourlyRate">Hourly Rate:</label>
                              <input type="number" class="form-control" id="hourlyRate" placeholder="Enter hourly rate" min="0" step=".01" max="100000" required>
                              <div class="invalid-feedback">
                                Please enter an hourly rate from 0 to 100000.
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label class="label-text" for="memberType">Member Type:</label>
                          <select class="form-control" id="memberType" disabled>
                            <option value="regular">Regular</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div class="row btn-footer">
                      <a href="../member/list_members.html" class="btn btn-default btn-secondary">Cancel</a>
                      <button type="submit" class="btn btn-default">Save</button>
                  </div>
              </form>
            </div>
            <div class="row form-content tab-pane fade" id="passwordContent">
              <form id="passwordForm" class="needs-validation" novalidate>
                  <div class="row">
                      <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label class="label-text" for="newPassword">New Password:</label>
                            <input type="password" class="form-control" id="newPassword" required>
                            <div class="invalid-feedback">
                              Please enter a password minimum of 8 characters.
                            </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label class="label-text" for="confirmPassword">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirmPassword" required>
                            <div class="invalid-feedback">
                              Please confirm your password.
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="row btn-footer px-3">
                      <a href="../member/list_members.html" class="btn btn-default btn-secondary">Cancel</a>
                      <button type="submit" class="btn btn-default">Set Password</button>
                  </div>
              </form>
            </div>
          </div>
      </div>
  </section>
  
</div>
  
  
<script src="../../../js/base/cookies.js"></script>
<script src="../../../js/base/handleUsers.js"></script>
<script src="../../../js/base/common.js"></script>
<script src="../../../js/base/navbar.js"></script>
<script src="../../../js/base/notifications.js"></script>
<script src="../../../js/admin/member/edit.js"></script>
</body>

</html>
