<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <title>ANTask Login</title>
</head>

<body>
    <section class="login-sec">
        <div class="login-box">
            <div class="text-box">
                <img src="../../images/logo.png" alt="" class="img-fluid" />
                <p>Login to continue</p>
            </div>
            <form id="loginForm" class="needs-validation" novalidate>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                <div class="invalid-feedback">
                  Please provide a valid email address.
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" required>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>
              <br>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Login</button>
              </div>
            </form>
        </div>
    </section>
    <script src="../../js/base/cookies.js"></script>
    <script src="../../js/base/handleUsers.js"></script>
    <script src="../../js/login/login.js"></script>
</body>

</html>